.auth_form_input {
    width: 100%;
    height: 35px;
    font-size: 24px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid rgba(48, 47, 47, 0.253);
    box-sizing: border-box;
    &:focus {
        outline: none;
        box-sizing: border-box;
    }
}