.register_form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    border-radius: 8px;
    background-color: rgba(230, 218, 63, 0.062); 
    margin: 0 auto;
 
    h3 {
        width: 90%;
        height: 10%;
        font-size: 25px;
        margin: 0;
    }
 }
 
 .register_form_err {
     margin: -32px 0px;
     padding: 0px 18px;
     box-sizing: border-box;
     display: flex;
     align-items: center;
     font-size: 20px;
     color: red;
     width: 100%;
}

 
 .register_form_btn {
     font-size: 16px;
     font-weight: bold;
     transition: 0.3s;
     width: 200px;
     height: 40px;
     border-radius: 10px;
     background-color: rgb(123, 182, 68);
     border: none;
         &:hover:enabled {
             background-color: rgb(85, 230, 2);
             color: rgb(46, 45, 45);  
         }
         &:focus {
             outline: none;
         }
 }