ul {
    list-style-type: none;
}

.nav_wrap {
    width: 40%;
    padding: 10px;
}

.nav_li {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    color:rgb(94, 92, 40);
    font-size: 18px;
}

.link {
    text-decoration: none;
    color: rgb(94, 92, 40);
}