.addCardBtn {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    button {
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.404); 
        border-radius: 8px;
        width: 150px;
        height: 50px;
    }
}
