.button {
    background: transparent;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    width: 130px;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;

    &_increment {
        background-color: rgb(123, 182, 68);
        &:hover:enabled {
            background-color: rgb(85, 230, 2);
            color: rgb(46, 45, 45);
        }
    }
    &_decrement {
        background-color: rgb(126, 1, 1);
        &:hover:enabled {
            background-color: rgba(196, 1, 1, 0.856);
            color: rgb(46, 45, 45);
        }
    }
}