.auth_form_wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   border-radius: 8px;
   box-sizing: border-box;
   width: 400px;
   height: 390px;
   background-color: rgba(230, 218, 63, 0.062); 
   margin: 0 auto;

   h3 {
       font-size: 40px;
       margin: 0;
   }
}


.auth_form_btn {
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(123, 182, 68);
    border: none;
        &:hover:enabled {
            background-color: rgb(85, 230, 2);
            color: rgb(46, 45, 45);  
        }
        &:focus {
            outline: none;
        }
}