.authorization_wrap {
    display: flex;
    justify-content: center;
    // padding: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        margin: 0 20px;
    }
}

.link {
    text-decoration: none;
    color:rgb(64, 66, 51)
}