.card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  width: 25%;
  background-color: rgba(255, 255, 205, 0.637);
  box-sizing: border-box;
  height: 450px;

  h1 {
    text-align: center;
    width: 300px;
    font-size: 25px;
  }

  img {
    margin-top: 20px;
    width: 250px;
  }
}

.card_style {
  display: flex;

  button {
    margin: 20px 20px;
  }
}
