.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: rgba(255, 245, 228, 0.952);
    
    div {
        margin: 0px 15px;
    }
}

.footer_lorem {
    width: 45%;
}

.footer_year {
    padding: 35px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    
}